<% if alert %>
  <div role="alert">
    <p data-testid="alert"><%= alert %></p>
  </div>
<% end %>
<% if notice %>
  <div role="alert">
    <p data-testid="notice"><%= notice %></p>
  </div>
<% end %>
